{{script('js/jquery-3.4.1.min')}}
{{script('js/popper.min')}}
{{script('js/bootstrap.min')}}
{{script('js/mdb.min')}}
{{script('js/datatables')}}
<script>
    $(document).ready(function() {
    $('table').DataTable();
} );
</script>