<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
{{style('css/all.min')}}
{{style('css/admin')}}
{{style('css/bootstrap.min')}}
{{style('css/mdb.min')}}
{{style('css/datatables')}}
{{style('css/chart1')}}
{{script('js/core')}}
{{script('js/charts')}}
{{script('js/animated')}}
